.lobbyContainer {
    height: calc(100vh - 180px);
    overflow-y: scroll;
}

.lobbyPlayersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lobbyHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobbyPlayer {
    margin: 1em;
}

.lobbyPlayer img {
    border-radius: 2em;
    height: 140px;
    width: 140px;
}

.lobbyPlayerImgContainer {
    height: 150px;
    width: 150px;
    position: relative;
}

.lobbyPlayerKickBtn, .lobbyPlayerEmojiContainer {
    background-color: var(--main-grey);
    position: absolute;
    padding: .5em;
    font-size: 1.2em;
    border-radius: 6px;
    text-align: center;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lobbyPlayerKickBtn {
    bottom: 0;
    right: 0;
}

.lobbyPlayerEmojiContainer {
    bottom: 0;
    left: 0;
}

.lobbyBottomTray {
    position: absolute;
    background-color: var(--main-grey);
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    margin: 1em;
    border-radius: 5px;
    display: grid;
    align-items: center;
    grid-template-columns: calc(100% - 120px) 60px;
}

.lobbyBottomTrayLeftSide, .lobbyBottomTrayRightSide {
    margin: 1em;
}

.lobbyBottomTrayLeftSide {
    display: flex;
    flex-wrap: nowrap;
    grid-column: 1/2;
    margin-right: auto;
    overflow-x: auto;
    margin-right: 1em;
}

.lobbyBottomTrayRightSide {
    grid-column: 2/3;
}

.lobbyBottomTrayRightSide button {
    margin: .2em;
}

.emojiBtn {
    background-color: #4F5153;
    padding: .6em;
    margin: .5em;
    font-size: 1.3em;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
}

.lobbyPlayersContainer .gameNotificationSection {
    margin-top: 2em;
}

.winnerColor {
    color: #528a08;
}

img.winnerColor {
    border: 4px solid #528a08;
}


@media only screen and (max-width: 470px) {
    .lobbyPlayersContainer {
        width: 100%;
    }

    .lobbyPlayer {
        border: none;
    }
}

@keyframes liveFlash {
    0% {
        color: #8a0000;
    }

    100% {
        color: #ed0202;
    }
}

@media only screen and (max-width: 780px) {
    .emojiBtn {
        padding: .6em;
        margin: .5em;
        font-size: 1.1em;
        border: none;
        border-radius: 9px;
    }
}

@media only screen and (max-width: 488px) {
    .lobbyBottomTray {
        height: 120px;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: .7em;
    }

    .lobbyBottomTrayLeftSide {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .lobbyBottomTrayLeftSide::-webkit-scrollbar {
        display: none;
    }

    .lobbyBottomTrayRightSide {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lobbyBottomTrayRightSide button {
        width: 100%;
        margin: 0 1em;
    }

    .lobbyContainer {
        height: calc(100vh - 230px);
    }
}

@keyframes biggerEmoji {
    0% {
        font-size: 1.2em;
    }
    
    100% {
        font-size: 1.8em;
    }
}

.biggerEmoji {
    animation: biggerEmoji 150ms ease-in-out;
}

@keyframes smallerEmoji {
    0% {
        font-size: 1.8em;
    }

    100% {
        font-size: 1.2em;
    }
}

.smallerEmoji {
    animation: smallerEmoji 150ms ease-in-out;
}

@keyframes shaking {
    0% {
        transform: none;
    }

    20% {
        transform: rotate(20deg);
    } 
    
    40% {
        transform: rotate(-20deg);
    }

    60% {
        transform: rotate(20deg);
    }

    80% {
        transform: rotate(-20deg);
    }

    100% {
        transform: none;
    }
}

.shaking {
    animation: shaking 350ms ease-in-out;
}