.lobbyPlayersContainer {
    width: 400px;
    margin: 1em auto;
}

.lobbyHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobbyPlayer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    padding: .6em;
}

.lobbyPlayer:last-child {
    border: none;
}

.lobbyPlayerDescription {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.lobbyPlayerDescription img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: .5em;
}

.kickBtn {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2em;
    cursor: pointer;
}

.liveIndicator {
    color: #8a0000;
    animation: liveFlash 1s infinite alternate-reverse;
    font-size: .8em;
    margin-left: .4em;
}

.winnerTimeScore {
    font-weight: bold;
}

.lobbyPlayersContainer .gameNotificationSection {
    margin-top: 2em;
}


@media only screen and (max-width: 470px) {
    .lobbyPlayersContainer {
        width: 100%;
    }

    .lobbyPlayer {
        border: none;
    }
}

@keyframes liveFlash {
    0% {
        color: #8a0000;
    }

    100% {
        color: #ed0202;
    }
}